@media screen and (max-width:480px){
.full-width {
            width: 100%;
        }
        
        .fixed-width {
            width: 95%;
            margin: auto;
        }
        
        .col-1 {
            width: 100%;
      /*      margin-left: 10px;
            margin-right: 10px;*/
        }
        
        .col-2 {
            width: 100%;
       /*     margin-left: 10px;
            margin-right: 10px;
            float: left;*/
        }
        
        .col-3 {
            width: 100%;
         /*   margin-left: 10px;
            margin-right: 10px;
            float: left;*/
        }
        
        nav {
            height: 60px;
            background-color: black;
        }
        
        nav .logo {
            width: 60px;
            height: 60px;
           /* float: left;*/
            background-color: #ef4343;
        }
        
        nav .menu {
            /*float: right;*/
        }
        
        nav .menu li {
            float: left;
            list-style: none;
        }
        
        nav .menu a {
            display: block;
            letter-spacing: 1px;
            padding-left: 15px;
            padding-right: 15px;
            height: 60px;
            line-height: 60px;
            text-decoration: none;
            color: aliceblue;
        }
        
        header {
            padding-top:640px;
            padding-bottom: 472px;
            background-image: url(images/1b77.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        
        #about .col-2:nth-of-type(2) {
            text-align:justify;
        }
        
        #about .col-2:nth-of-type(2) img {
            width: 200px;
            height: 200px;
            margin-top: 10px;
        }
        
        #about,#portfolio {
            margin-top: 0px;
            margin-bottom: 100px;
        }
        #portfolio {
            background-color: #646464;
        }
        #portfolio .col-3 {
            height: 200px;
            overflow: hidden;
            margin-bottom: 30px;
            padding: 10px;
            box-sizing: border-box;
           height: 120px;
        }
        #portfolio .fixed-width:nth-of-type(1) {
            margin-bottom: 10px;
        }
        .btn {
            display: inline-block;
            padding: 5.5px 200px;
            background-color: black;
            color: aliceblue;
            text-decoration: none;
        }
        
        #blog .col-2,
        .btn {
            margin-top: 20px;
            margin-bottom: 30px;
            margin-left: 10px;
        } 
img {
            width: 100%;
        }
        
}